streamlit
pandas
python-dotenv
pinecone 
langchain-pinecone
langchain
langchain-core 
langchain-openai 
langchain-text-splitters
langchain-chroma 
langchain-community
openai
docx2txt
pydantic<2.0 
protobuf==3.20.3 
pypdf
python-docx
