langchain
langchain-core
langchain-openai
langchain-text-splitters
langchain-community
langchain-pinecone
docx2txt
pydantic 
protobuf
streamlit
python-dotenv
openai
pinecone-client
pypdf2
python-docx
